<img src="https://upload.wikimedia.org/wikipedia/sco/d/d3/Starbucks_Corporation_Logo_2011.svg" alt="" class="logo">
<div class="naviagtion-container">
  <a [routerLink]="['/home']" routerLinkActive="active" class="navigation-item"><span>Home</span></a>
  <a [routerLink]="['/cofe-shop']" routerLinkActive="active" class="navigation-item"><span>Cofé Shop</span></a>
  <a [routerLink]="['/to-go']" routerLinkActive="active" class="navigation-item"><span>To Go</span></a>
  <a [routerLink]="['/coffee-break']" routerLinkActive="active" class="navigation-item"><span>Coffee break</span></a>
</div>
