@import '../../../colors';

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
    color: $black;
    height: 100%;
    align-items: center;
    //width: 100%;
    @media (max-width: 50rem) {
        padding: 0 2rem;
    }


    img {
        height: 5rem;
        @media (max-width: 50rem) {
            height: 3.5rem;
        }
    }

    .naviagtion-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .navigation-item {
            padding: 0 1rem;
            text-decoration: none;
            color: inherit;
            //border-right: 0.0625rem solid $black;
            @media (max-width: 50rem) {
                display: none;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
                border-right: none;
            }

            &:hover {
                span {
                    border-bottom: 1px solid $yellow;
                }
            }
        }

        .active {
            span {
                border-bottom: 4px solid $yellow;
            }

            //color: $yellow;
        }
    }
}
