<img src="assets/icons/logo-coffee.svg" alt="Logo" class="logo" [routerLink]="['/home']">
<div class="naviagtion-container">
  <a [routerLink]="['/home']" routerLinkActive="active" class="navigation-item"><span>Home</span></a>
  <a [routerLink]="['/cofe-shop']" routerLinkActive="active" class="navigation-item mobile-hide"><span>Cofé Shop</span></a>
  <a [routerLink]="['/wake-up']" routerLinkActive="active" class="navigation-item mobile-hide"><span>Wake Up</span></a>
  <a [routerLink]="['/coffee-break']" routerLinkActive="active" class="navigation-item mobile-hide"><span>Coffee break</span></a>
</div>
