<app-navbar class="navbar"></app-navbar>
<app-header-image class="hero-image" [imageID]="'photo-1504888527749-e68244b4d3d7'"></app-header-image>
<div class="content">
  <app-section class="flexitem" [imageUrl]="'assets/graphics/hang-out.svg'">
    <h2 class="section-heading">
      Hanging out with friends
    </h2>
    <p class="section-text">Meet friends and enjoy a hot drink. There is not much nicer than having coffee together.</p>
    <app-button [isDisabled]="false" [color]="Colors.YELLOW" routerLink="/cofe-shop">Finde Café</app-button>
  </app-section>
  <app-section class="flexitem" [position]="'right'" [imageUrl]="'assets/graphics/remote-work.svg'">
    <h2 class="section-heading">
      Relaxing while working
    </h2>
    <p class="section-text">Don't you get ahead at work? Take a coffee break, clear your head, get a head start.</p>
    <app-button [isDisabled]="false" [color]="Colors.YELLOW" routerLink="/coffee-break">Order Coffee</app-button>
  </app-section>
  <app-section class="flexitem" [position]="'left'" [imageUrl]="'assets/graphics/wake-up.svg'">
    <h2 class="section-heading">
      Wake up
    </h2>
    <p class="section-text">The first sip of coffee a day makes the day directly better.</p>
    <app-button [isDisabled]="false" [color]="Colors.YELLOW" routerLink="/wake-up">Wake Up</app-button>
  </app-section>
</div>
